/* estilos.css */

/* Estilo general para el body */
.header-nav {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* Título centrado y estilizado 
h1 {
    color: #343a40;
    margin-bottom: 30px;
}
*/
/* Personalización del carrusel */
#carouselExampleRide {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imágenes del carrusel */
.carousel-item img {
    object-fit: cover;
    height: 500px;
}

/* Botones de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 10px;
}

/* Mejora para accesibilidad */
.visually-hidden {
    display: none;
}

/*NAV: trabajamos con este estilo la tipografia del logo*/
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

